<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ $data := getJSON "https://geosync.blob.core.windows.net/webpack.json" }}
  {{ partial "head" (dict "context" . "stylesheet" $data.main.css) }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>
    {{ $app := $data.app }}
    <script src="https://geosync.blob.core.windows.net/{{ $app.js }}"></script>
    {{ $script := $data.main }}
    <script src="https://geosync.blob.core.windows.net/{{ $script.js }}"></script>
  </body>
</html>
