<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css' rel='stylesheet' />
    <div id='map' style='width:100%;height:calc(100vh - 3.2rem);'></div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js'></script>
    <script>
        window.params = {
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9'
        }
    </script>
    {{ if isset .Params "center" }}
        <script>
            var center = JSON.parse({{ .Params.center }});
            window.params.center = center.coordinates;
        </script>
    {{ end }}
    {{ if isset .Params "zoom" }}
        <script>
            window.params.zoom = {{ .Params.zoom }}
        </script>
    {{ end }}
    {{ if isset .Params "label" }}
        <script>
            window.title = {{ .Params.label }};
        </script>
    {{ end }}
    {{ if isset .Params "description" }}
        <script>
            window.description = {{ .Params.description }};
        </script>
    {{ end }}
    {{ if isset .Params "location" }}
        <script>
            window.feature = JSON.parse({{ .Params.location }});
        </script>
    {{ end }}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidHJvenVsIiwiYSI6IlZLcGZCYmMifQ.kL0ZGdoyd9WCM35WzVPQbg';
        var map = new mapboxgl.Map(window.params);
        if (window.feature) {
            map.on('load', function() {
                map.addSource('advisory', {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': window.feature
                    }
                });
                map.addLayer({
                    'id': 'advisory',
                    'type': 'fill',
                    'source': 'advisory',
                    'layout': {},
                    'paint': {
                    'fill-color': '#ff0000',
                    'fill-opacity': 0.25
                    }
                });

                map.on('click', 'advisory', function(e) {
                    var coordinates = e.lngLat;
                    var description = `<strong>${window.title}</strong><p>${window.description}</p>`;
                    
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }
                    
                    new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(description)
                    .addTo(map);
                });
                    
                    // Change the cursor to a pointer when the mouse is over the places layer.
                map.on('mouseenter', 'advisory', function() {
                    map.getCanvas().style.cursor = 'pointer';
                });
                    
                    // Change it back to a pointer when it leaves.
                map.on('mouseleave', 'advisory', function() {
                    map.getCanvas().style.cursor = '';
                });
            });
        }
    </script>
    
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
  </body>
</html>
